<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加考试</title>
</head>
<body>
<h1>填写考试信息</h1>
<form action="/exam/add" method="post">
<!--    <input name="examcode" type="hidden" placeholder="考试编号">-->
    <input name="paperid" type="text" placeholder="试卷编号">
    <input name="examname" type="text" placeholder="考试名称">
    <input name="starttime" type="text" placeholder="开始时间">
    <input name="endtime" type="text" placeholder="结束时间">
    <input name="exammajor" type="text" placeholder="考试专业">
    <input name="examgrade" type="text" placeholder="考试年级">
    <input name="examclass" type="text" placeholder="考试班级">
    <input name="examinfo" type="text" placeholder="考试信息">
    <button><input type="submit" name="button" value="添加考试"></button>
</form>
</body>
</html>