<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>新增答题记录！！！</h1>
<form action="/record/add" method="post">
    <input type="text" name="examcode" placeholder="examcode">
    <input type="text" name="paperid" placeholder="paperid">
    <input type="text" name="questionid" placeholder="questionid">
    <input type="text" name="loginNumber" placeholder="loginNumber">
    <input type="text" name="studentanswer" placeholder="studentanswer">
    <input type="text" name="getscore"placeholder="getscore">
    <input type="submit" name="button" value="提交">
</form>
</body>
</html>