<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>题目列表</title>
    <style>
        span {
            display: inline-block;
            width: 6%;
        }
    </style>
</head>

<body>
<h1>微积分试卷</h1>
<div>
    <p>这是选择题2内容，设lim(x-&gt;a)f(x)=k,那么点x=a是f(x)的（ ）</p>
    <span>A.</span>
    <span>连续点</span>
    <span>B.</span>
    <span>可去间断点</span>
    <span>C.</span>
    <span>跳跃间断点</span>
    <span>D.</span>
    <span>以上结论均不对</span>
</div>
<div>
    <p>这是选择题2内容，设lim(x-&gt;a)f(x)=k,那么点x=a是f(x)的（ ）</p>
    <span>A.</span>
    <span>连续点</span>
    <span>B.</span>
    <span>可去间断点</span>
    <span>C.</span>
    <span>跳跃间断点</span>
    <span>D.</span>
    <span>以上结论均不对</span>
</div>
<div>
    <p>这是选择题2内容，设lim(x-&gt;a)f(x)=k,那么点x=a是f(x)的（ ）</p>
    <span>A.</span>
    <span>连续点</span>
    <span>B.</span>
    <span>可去间断点</span>
    <span>C.</span>
    <span>跳跃间断点</span>
    <span>D.</span>
    <span>以上结论均不对</span>
</div>
<div>
    <p>这是选择题2内容，设lim(x-&gt;a)f(x)=k,那么点x=a是f(x)的（ ）</p>
    <span>A.</span>
    <span>连续点</span>
    <span>B.</span>
    <span>可去间断点</span>
    <span>C.</span>
    <span>跳跃间断点</span>
    <span>D.</span>
    <span>以上结论均不对</span>
</div>
<div>
    <p>这是选择题2内容，设lim(x-&gt;a)f(x)=k,那么点x=a是f(x)的（ ）</p>
    <span>A.</span>
    <span>连续点</span>
    <span>B.</span>
    <span>可去间断点</span>
    <span>C.</span>
    <span>跳跃间断点</span>
    <span>D.</span>
    <span>以上结论均不对</span>
</div>
<div>
    <p>这是问答题内容，由方程e^(x+y) - xy = 0确定隐函数y=f(x),求dy/dx</p>
    <span>A.</span>
    <span>1</span>
    <span>B.</span>
    <span>2</span>
    <span>C.</span>
    <span>3</span>
    <span>D.</span>
    <span>4</span>
</div>
<div>
    <p>这是选择题1内容，设f(x)定义域为[-1,1],那么复合函数f(sinx)的定义域为（ ）</p>
    <span>A.</span>
    <span>(-1,1)</span>
    <span>B.</span>
    <span>[-π/2,π/2]</span>
    <span>C.</span>
    <span>(0,+∞)</span>
    <span>D.</span>
    <span>(-∞,+∞)</span>
</div>
<div>
    <p>这是判断题内容，设lim(x-&gt;a)(f(x)-f(a))/((x-a)^2) = 1,那么f(x)在a处取得极大值</p>
    <span>A.</span>
    <span></span>
    <span>B.</span>
    <span></span>
    <span>C.</span>
    <span></span>
    <span>D.</span>
    <span></span>
</div>
</body>

</html>